*{
      box-sizing: border-box;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: large;
      font-style: normal;
}
body{
    background-color: black;
    color:  black;
}
.container{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    box-shadow: 15px 15px 8px gray;    
}

.banner{
    display: block;
    width: 100%;
    height: 250px;
    text-align: center ;
    font-size: 50pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image : url("/static/img/chipp.jpg");
    background-size: larger;
    margin: 10px 0px 0px 0px;
    padding-top: 100px;
    color: black;
}

.menu{
    display: block;
    width: 100%;
    height: 50px;
    font-size: larger;
    background-color: black;
    text-align: center;
    padding-top: 15px;
    margin: 0px 0px 0px 0px;
    border-width: 1px;
}

.menuitem{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.menuitem a{
    text-decoration: none; 
    color: whitesmoke;
}

.content{
    display: block;
    width: 100%;
    background-color: white;
    min-height: 500px;
    margin: 0px 0px 0px 0px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.homecontent{
    min-height: 500px;
    margin: 10px 10px 10px 10px;
}
.homecontent h1{
    text-align: center;  
    font-style: normal;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.homecontent img{
    float: center;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right:auto ;
}


.contenttext{
    text-align: justify;
}

.productcontent{
    min-height: 500px;
    margin: 10px 10px 10px 10px;
}

.productcontent h1{
    text-align: center; 
    font-size: xx-large;   
}

.productitems{
    display: block;
    font-size: larger;
    
}

.productitem{
    display: inline-block;
    width: 50%;
    height: 250px;
    text-align: center;
}

.productitem img{
    width: 100px;
    height: 100px;
    display: inline;
}
.productitem .itemimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-bottom: 5px;
}

.productitem .itemname{
    display: block;
}
.productitem .itemprice{
    display: block;
}

.peoplecontent{
    min-height: 500px;
    margin: 10px 10px 10px 10px;
}
.peoplecontent img{
    width:50%;
    height: auto;
    display: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.peoplecontent h1{
    text-align: center; 
    font-size: larger;   
}

.contactcontent h1{
    text-align: center; 
    font-size: xx-large;   
    font-family: 'Times New Roman', Times, serif;
}
.contactcontent h2{
    text-align: center; 
    font-size: xx-large;   
    font-family: cursive;
}
.footer{
    display: block;
    width: 100%;
    height: 40px;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    margin: 0px 0px 0px 0px;
    color: rgb(218, 214, 214);
}

